root = true

[*.{js,mjs}]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = false

[*.js]
indent_size = 2
tab_width = 2

[test/*.js]
indent_size = 4
tab_width = 4

[*.mjs]
indent_size = 4
tab_width = 4